option_settings:
# *.superloud.com
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:107871271282:certificate/32a11ca9-bd86-47e1-b7e8-61838eaf3adc
Resources:
  # *.superloud.io
  AddingSSLCert2:
    Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
    Properties:
      ListenerArn:
        Ref : "AWSEBV2LoadBalancerListener443"
      Certificates:
        - CertificateArn: "arn:aws:acm:us-west-2:107871271282:certificate/12d438fe-40e5-4794-8a21-b317d294bb27"
