{% extends "layouts/base-presentation.html" %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% load static %}
    <main>
        <!-- Hero -->
        <section class="section-header overflow-hidden bg-primary text-white" style="padding:0">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{% static 'assets/img/brand/Super Loud Logo-A10.png' %}">
                        <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); padding:0;">
                            <h1 class="fw-bolder centered" style="font-size:800%;">Terms and Conditions</h1>
                        </div>
                    </div>
                </div>
            </div>
 
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4"><path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path></svg></figure>     
  
        </section>

        <section class="section">
            <div class="container" style="max-width:90%;">
                <div class="row justify-content-center mb-2">
                    <div class="col-12 text-left">
                        <p>
                            Welcome to Super Loud Platform (our “Platform”). These Terms and Conditions (the “Terms”) constitute a legal agreement between you and Super Loud governing the use of our Platform and our Services. We license use of our Platform to you on the basis of these Terms. We do not sell our Platform to you, and we remain the owner of our Platform at all times. </p>
<br>
<h5><b>1.  Terms Of Use</b></h5>
<p style="margin-left: 40px;"><b>1.1.</b>    The provisions set out in these Terms govern your access to and your use of our Platform and shall constitute a legally binding agreement between you and us. We may change such terms from time to time and shall notify you accordingly if we do. If you do not agree to such terms, you must not use our Platform. </p>
<p style="margin-left: 40px;"><b>1.2.</b>    Subject to you agreeing to abide by these Terms, we hereby grant to you a revocable, non-exclusive and non-transferable license to use our Platform on these Terms.</p>
<p style="margin-left: 40px;"><b>1.3.</b>    By registering for an Account, which involves providing us with certain mandatory and voluntary information as required for a successful registration and using our Platform, you agree and acknowledge that: </p>
<p style="margin-left: 40px;"><b>1.4.</b>    you have read the terms set out in these Terms and agree to be bound by and comply with them; and</p>
<p style="margin-left: 40px;"><b>1.5.</b>    you shall ensure that all Users of your Account abide by these Terms.  </p>
<p style="margin-left: 40px;"><b>1.6.</b>    You are responsible for maintaining the confidentiality of your Account and you are responsible for all activities that occur under your Account. You agree that all actions carried out by any person through your Account shall be deemed to be an act carried out by you, and you shall ensure that all persons who have access to and use your Account are authorized to do so. We are not responsible for any loss, damage or liabilities arising as a result of or in connection with the wrongful, fraudulent or illegal use of your Account.</p>
<p style="margin-left: 40px;"><b>1.7.</b>    We reserve the right to, without any notice, explanation, or liability and in our sole discretion, refuse to allow you or suspend your access to our Platform or your Account at any time, or remove or edit content (including content submitted by you) on our Platform or on any of our affiliated websites (including social media pages). </p>
<p style="margin-left: 40px;"><b>1.8.</b>    We reserve the right to change, modify, suspend, or discontinue any portion of the Services, our Platform or any other Services, services, affiliated websites (including social media pages) and/or other software provided by us in connection with any of the foregoing at any time. You agree that access to or operation of any of the foregoing may from time to time be interrupted or encounter technical difficulties.</p>
<p style="margin-left: 40px;"><b>1.9.</b>    Save to the extent permitted by us in writing, you are not permitted to use, or submit any content to, our Platform or any of our affiliated websites to advertise, promote or market any Services or services of any third party or yourself.</p>

<br>
<h5><b>2.  Subscription</b></h5>
<p style="margin-left: 40px;"><b>2.1.</b>    You become a subscriber to our Platform by completing the registration of an Account.</p> 
<p style="margin-left: 40px;"><b>2.2.</b>    Some Services may require payment of subscription fees and/or other ad-hoc or ancillary fees before you can access or use them (“Fees”). These Fees will be notified to you through our Platform.</p> 
<p style="margin-left: 40px;"><b>2.3.</b>    Depending on the subscription tier purchased, you may have access to data that is available publicly only or our forecast. You expressly agree that Super Loud cannot provide any guarantee nor does assume any responsibility over the data made available, including but not limited to their accuracy, usability, correctness and ability to rely on it.</p>
<p style="margin-left: 40px;"><b>2.4.</b>    User subscriptions are for designated Users and cannot be reassigned to new Users replacing former Users who no longer require ongoing use of the Service. Unless otherwise specified in the relevant Order Form, the term of the additional User subscriptions shall be coterminous with the expiration of the subscription term in effect at the time the additional Users are added.</p>
<p style="margin-left: 40px;"><b>2.5.</b>    Monitoring whether any additional user is acting within his or her authority to give any instruction to us is your responsibility and the responsibility of your administrator, and we may rely on the authority of any additional user to give any instruction to us.</p>
<p style="margin-left: 40px;"><b>2.6.</b>    If you purchase a recurring subscription from us, the subscription period for your Account shall be renewed automatically at the expiry of each subscription period, until terminated successfully through our Platform. By purchasing the recurring subscription, you authorize us or our related corporations to automatically charge the Fees: </p>
<p style="margin-left: 80px;"><b>2.6.1.</b>  upon the commencement of your first subscription period, upon expiration of any applicable trial period or at a date otherwise indicated by us; and </p>
<p style="margin-left: 80px;"><b>2.6.2.</b>  on the renewal date of the subscription period thereafter, without any further action by you. </p>
<p style="margin-left: 40px;"><b>2.7.</b>    Any Fees due in relation to your Account must be paid by their due date for payment, as notified to you through our Platform or otherwise. Failure to make timely payment of the Fees may result in the suspension or termination of your access to your Account and/or our Platform or any of the Services. </p>
<p style="margin-left: 40px;"><b>2.8.</b>    Our Fees may be amended from time to time at our discretion. We will provide you reasonably advanced written notice of any amendment of recurring Fees. Your continued use of a recurring subscription will constitute acceptance of the amended Fees. </p>
<p style="margin-left: 40px;"><b>2.9.</b>    You shall be responsible for any applicable taxes (including any goods and services tax) under these Terms.</p>
<p style="margin-left: 40px;"><b>2.10.</b>   All payments shall be made by using the payment methods specified by us (Stripe) from time to time. You acknowledge and agree that you are subject to the applicable user agreement of any third-party payment methods. We shall not be liable for any failure, disruption or error in connection with your chosen payment method. We reserve the right at any time to modify or discontinue, temporarily or permanently, any payment method without notice to you or giving any reason.</p>
<p style="margin-left: 40px;"><b>2.11.</b>   We must receive payment in full no later than the day on which such payment is required to be paid in immediately available and freely transferable funds, without any restriction, condition, withholding, deduction, set-off or counterclaim whatsoever. </p>
<p style="margin-left: 40px;"><b>2.12.</b>   Unless otherwise notified in writing by us, termination of your Account for any reason whatsoever shall not entitle you to any refund of the Fees. If you cancel your subscription to our Platform, you may continue to access your Account until the expiry of the subscription period in which the cancellation occurred.</p>
<p style="margin-left: 40px;"><b>2.13.</b>   We may at our sole and absolute discretion, offer a refund of Fees for a particular subscription period where no actions have been taken in respect of your Account during that subscription period and you have notified us in writing of your intention to terminate your subscription within three (3) days of the due date for payment for that subscription period.</p>

<br>
<h5><b>3.  Uploading content to our platform</b></h5>
<p style="margin-left: 40px;"><b>3.1.</b>    You irrevocably and unconditionally represent and warrant that any of your content uploaded to our Platform complies with our Privacy Policy and any other applicable laws.</p>
<p style="margin-left: 40px;"><b>3.2.</b>    You are fully responsible for your content uploaded to our Platform. We will not be responsible, or liable to any third party, for:</p>
<p style="margin-left: 80px;"><b>3.2.1.</b>  the content or accuracy of any content or data uploaded by you, by us on your behalf, or any other user of our Platform; or</p>
<p style="margin-left: 80px;"><b>3.2.2.</b>  the loss of any content or data (whether in physical or digital form) provided to us by you. You should keep a record of all such content and data. </p>
<p style="margin-left: 40px;"><b>3.3.</b>   We will only use the content uploaded by you for the purposes of carrying out the Services, carrying out our obligations in this Agreement and any other purpose expressly set out in this Agreement or otherwise agreed between us. We will not otherwise disclose or distribute the content uploaded by you, save for when required by law, a court of competent jurisdiction or any governmental or regulatory authority. </p>
<p style="margin-left: 40px;"><b>3.4.</b>    We may use the content uploaded by you for the purpose of data analytics or to implement artificial intelligence or machine learning. Any such content shall be anonymized and used only for the purposes of improving the Services and our response to users of the Platform.</p> 
<p style="margin-left: 40px;"><b>3.5.</b>    We have the right to disclose your identity to any third party claiming that any content posted or uploaded by you to our Platform constitutes a violation of their rights under applicable law.</p>
<p style="margin-left: 40px;"><b>3.6.</b>    We have the right to delete any content uploaded to our Platform if, in our opinion, it does not comply with the content standards set out.</p>

<br>
<h5><b>4.  Usage License</b></h5>
<p style="margin-left: 40px;"><b>4.1.</b>    In general, for each license you have acquired for the Service, one individual is authorized to use the Service according to the terms of this Usage License. Unless expressly stated otherwise, the Service may not be separated for use by more than the one individual authorized to use the Service.</p>
<p style="margin-left: 40px;"><b>4.2.</b>    You may not reverse engineer, decompile, or disassemble the Service, except and only to the extent that it is expressly permitted by applicable law notwithstanding this limitation.</p>
<p style="margin-left: 40px;"><b>4.3.</b>    Without prejudice to any other rights, Super Loud may cancel this Usage License if you do not abide by the terms and conditions of this Usage License, in which case you must not use the Service and all of its component parts.</p>
<p style="margin-left: 40px;"><b>4.4.</b>    You agree that Super Loud and its affiliates may collect and use technical information you provide as a part of support services related to the Service. Super Loud agrees not to use this information in a form that personally identifies you.</p>
<p style="margin-left: 40px;"><b>4.5.</b>    The Service is licensed as a single Service. Its component parts may not be separated for use.</p>

<br>
<h5><b>5.  Prohibited Uses</b></h5>
<p style="margin-left: 40px;"><b>5.1.</b>  You may use our Platform only for lawful purposes. You may not use our Platform:</p>
<p style="margin-left: 80px;"><b>5.1.1.</b>  in any way that breaches any applicable local or international laws or regulations;</p>
<p style="margin-left: 80px;"><b>5.1.2.</b>  in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</p>
<p style="margin-left: 80px;"><b>5.1.3.</b>  to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards as set out in our prevailing terms and conditions as amended from time to time; and</p>
<p style="margin-left: 80px;"><b>5.1.4.</b>  to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</p>
<p style="margin-left: 40px;"><b>5.2.</b>  You also agree:</p>
<p style="margin-left: 80px;"><b>5.2.1</b>  not to reproduce, duplicate, copy or re-sell any part of our Platform in contravention of the provisions of our Terms; and</p>
<p style="margin-left: 80px;"><b>5.2.2</b>  not to access without authority, interfere with, damage or disrupt:</p>
<p style="margin-left: 80px;"><b>5.2.3</b>  any part of our Platform;</p>
<p style="margin-left: 80px;"><b>5.2.4</b>  any equipment or network on which our Platform is stored; </p>
<p style="margin-left: 80px;"><b>5.2.5</b>  any software used in the provision of our Platform; or </p>
<p style="margin-left: 80px;"><b>5.2.6</b>  any equipment or network or software owned or used by any third party.</p>

<br>
<h5><b>6.  Restrictions</b></h5>
<p style="margin-left: 40px;"><b>6.1.</b>    Except as expressly set out in this Agreement or as permitted by any applicable law, you undertake:</p>
<p style="margin-left: 80px;"><b>6.1.1.</b>  not to reproduce, copy, modify, adapt, translate, publish, display, communicate, transmit, sell, exploit or use the whole or any part of any Service, our Platform or any of the contents therein for any commercial or other purposes; </p>
<p style="margin-left: 80px;"><b>6.1.2.</b>  not to disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of the source code of our Platform nor attempt to do any such thing, or to reproduce, display or otherwise provide access to the Services, our Platform or any of the contents therein, including but not limited to framing, mirroring, linking, spidering, scraping or any other technological means;</p>
<p style="margin-left: 80px;"><b>6.1.3.</b>  not to provide or otherwise make available our Platform in whole or in part (including but not limited to program listings, object and source program listings, object code and source code), in any form to any person without prior written consent from us; </p>
<p style="margin-left: 80px;"><b>6.1.4.</b>  to include our copyright notice on all entire and partial copies you make of our Platform on any medium; </p>
<p style="margin-left: 80px;"><b>6.1.5.</b>  to comply with all applicable technology control or export laws and regulations; and</p>
<p style="margin-left: 80px;"><b>6.1.6.</b>  not to disrupt, disable, or otherwise impair the proper working of the Services, our Platform or our servers, such as through hacking, cyber-attacks (including but not limited to denial-of-service attacks), tampering or reprogramming. </p>

<br>
<h5><b>7.  Intellectual Property Rights</b></h5>
<p style="margin-left: 40px;"><b>7.1.</b>    You acknowledge that all intellectual property rights in our Platform anywhere in the world belong to us, that rights in our Platform are licensed (not sold) to you, and that you have no rights in, or to, our Platform other than the right to use them in accordance with these Terms.</p>
<p style="margin-left: 40px;"><b>7.2.</b>    Any intellectual property rights in content uploaded by you to our Platform shall continue to belong to you or their respective owners. You agree that you grant us a royalty-free and non-exclusive license to use, reproduce, publish, and display such intellectual property rights for the purposes of performing the Services, promotional purposes, internal administrative purposes and any other purposes set out in these Terms, including for the purpose of improving the Services and our responses to users of the Platform. </p>
<p style="margin-left: 40px;"><b>7.3. </b>   You acknowledge that you have no right to have access to our Platform in source code form.</p>
<p style="margin-left: 40px;"><b>7.4. </b>   Save for internal distribution amongst your employees and persons authorized by you for your internal business purposes and any other purposes contemplated under these Terms or the Platform, you must not modify the paper or digital copies of any materials you have printed off or downloaded from our Platform in any way and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. </p>
<p style="margin-left: 40px;"><b>7.5.</b>    Our status (and that of any identified contributors) as the authors of content on our Platform must always be acknowledged.</p>
<p style="margin-left: 40px;"><b>7.6.</b>    You must not use any part of the content on our Platform for commercial purposes not specified on our Platform without obtaining a license to do so from us or our licensors. </p>
<p style="margin-left: 40px;"><b>7.7.</b>    If you print off, copy, or download any content on our Platform in breach of this Agreement, your right to use our Platform will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

<br>
<h5><b>8.  Your Data </b></h5>
<p style="margin-left: 40px;"><b>8.1.</b>    You shall own all rights, title and interest in and to all of your Data and shall have sole responsibility for the legality, reliability, integrity, accuracy and quality of your Data. </p>
<p style="margin-left: 40px;"><b>8.2.</b>    You permit us to use your Data in anonymized form for further processing and refinement of the services and products.</p>
<p style="margin-left: 40px;"><b>8.3.</b>    If we process any personal data on your behalf when performing its obligations under this agreement, the parties record their intention that you shall be the data controller and we shall be a data processor and in any such case: </p>
<p style="margin-left: 40px;"><b>8.4.</b>    You shall ensure that the relevant third parties have been informed of, and have given their consent to, such use, processing, and transfer as required by all applicable data protection legislation; We shall process the personal data only in accordance with the terms of this agreement and any lawful instructions reasonably given by you from time to time; and each party shall take appropriate technical and organizational measures against unauthorized or unlawful processing of the personal data or its accidental loss, destruction or damage. </p>
<p style="margin-left: 40px;"><b>8.5.</b>    You shall be responsible for obtaining and maintaining any equipment and ancillary services needed to connect to, access or otherwise use the Services, including without limitation, hardware, software, networking, and the like. </p>

<br>
<h5><b>9.  Technical requirements and responsibility</b></h5>
<p style="margin-left: 40px;"><b>9.1.</b>    Users are responsible for ensuring that the technical requirements for access to and use of the respective services are met. </p>
<p style="margin-left: 40px;"><b>9.2.</b>    This applies in particular to the hardware and operating system software used, the connection to the Internet, the firewall settings (if any) and the current browser software. The user shall carry out necessary and reasonable adjustment measures himself/herself and shall bear the costs for the Internet connection in order to be able to access the Platform.</p>

<br>
<h5><b>10. Reliance on Information</b></h5>
<p style="margin-left: 40px;"><b>10.1.</b>   The Platform is intended to provide general information only and, as such, should not be considered as a substitute for advice covering any specific situation. You should seek appropriate advice before taking or refraining from taking any action in reliance on any information contained in the Platform. </p>
<p style="margin-left: 40px;"><b>10.2.</b>   The information provided on the Platform is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. </p>

<br>
<h5><b>11. Warranties</b></h5>
<p style="margin-left: 40px;"><b>11.1.</b>   While we make all efforts to maintain the accuracy of the information on our Platform, we provide the Services, Platform, and all Related Content on an “as is” and “as available” basis, unless otherwise specified in writing. We make no representations or warranties of any kind, express or implied, as to the operation of any of the foregoing, unless otherwise specified in writing. </p>
<p style="margin-left: 40px;"><b>11.2.</b>   To the full extent permissible by law, we disclaim all warranties, express or implied, relating to our Platform or any Services, including but not limited to implied warranties of merchantability and fitness for a particular purpose. We do not warrant that the Services, our Platform, the Related Content, or electronic communications sent by us are free of viruses or other harmful components. </p>

<br>
<h5><b>12. Limitation Of Liability</b></h5>
<p style="margin-left: 40px;"><b>12.1.</b>  We are not liable for the completeness, accuracy or correctness of any information uploaded on our Platform and any Related Content.</p>
<p style="margin-left: 40px;"><b>12.2.</b>   We do not recommend using the data nor guarantee it’s accuracy.  </p>
<p style="margin-left: 40px;"><b>12.3.</b>   You expressly agree that your use of the Services and our Platform, is at your sole risk. </p>
<p style="margin-left: 40px;"><b>12.4.</b>   We do not assist with dispute resolution between any you and any Consultant and are not obliged at any time to adjudicate on any such dispute. In the event of any dispute, you are responsible for contacting the relevant Consultant. Without prejudice to the foregoing, we remain entitled at all times to investigate at our discretion any complaint regarding the use of our Platform or any suspected unlawful activity and to take any action that we deem appropriate, including to file a report with the appropriate authorities. </p>
<p style="margin-left: 40px;"><b>12.5.</b>   You agree not to use the Services, our Platform, and the Related Content for any re-sale purposes, and we have no liability to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising under or in connection with these Terms (including but not limited to the use of, or inability to use, the Services, our Platform or any other website or software) for:</p>
<p style="margin-left: 80px;"><b>12.5.1.</b> loss of profits, sales, business, or revenue;</p>
<p style="margin-left: 80px;"><b>12.5.2.</b> business interruption;</p>
<p style="margin-left: 80px;"><b>12.5.3.</b> loss of anticipated savings;</p>
<p style="margin-left: 80px;"><b>12.5.4.</b> loss or corruption of data or information;</p>
<p style="margin-left: 80px;"><b>12.5.5.</b> loss of business opportunity, goodwill or reputation; or</p>
<p style="margin-left: 80px;"><b>12.5.6.</b> any other indirect or consequential loss or damage.</p>
<p style="margin-left: 40px;"><b>12.6.</b> Nothing in these Terms shall limit or exclude our liability for:</p>
<p style="margin-left: 80px;"><b>12.6.1.</b> death or personal injury resulting from our negligence; </p>
<p style="margin-left: 80px;"><b>12.6.2.</b> fraud; and/or</p>
<p style="margin-left: 80px;"><b>12.6.3.</b> any other matter in respect of which we are prohibited under applicable law from limiting or excluding our liability.</p>
<p style="margin-left: 40px;"><b>12.7.</b>  Our Platform is not intended to serve a record-keeping function and we shall not be liable for any loss of data or content. </p>
<p style="margin-left: 40px;"><b>12.8.</b>  These Terms set out the full extent of our obligations and liabilities in respect of the supply of the Services and our Platform. Except as expressly stated in these Terms, there are no conditions, warranties, representations, or other terms, express or implied, that are binding on us. Any condition, warranty, representation, or other term concerning the supply of the Services and our Platform which might otherwise be implied into, or incorporated in, these Terms whether by statute, common law or otherwise, is excluded to the fullest extent permitted by law.</p>

<br>
<h5><b>13. Indemnity</b></h5>
<p style="margin-left: 40px;">You agree to indemnify and hold us, our related corporations, and our respective directors, officers, employees, agents and representatives, independent contractors, licensees, successors and assigns harmless from and against all claims, losses, expenses, damages and costs (including but not limited to direct, incidental, consequential, exemplary and indirect damages), and reasonable legal fees, resulting from or arising out of your act, default or omission, whether in your use of our Platform, Services, and/or any websites or software in relation thereto or otherwise, and whether in respect of your breach of these Terms or any laws or regulations or otherwise. </p>

<br>
<h5><b>14. Binding Arbitration</b></h5>
<p style="margin-left: 40px;"><b>14.1.</b>   If the Parties are unable to resolve a Dispute through informal negotiations, the Dispute (except those Disputes expressly excluded below) will be finally and exclusively resolved by binding arbitration. </p>
<p style="margin-left: 40px;"><b>14.2.</b>   You understand that without this provision, you would have the right to sue in court and have a jury trial. </p>
<p style="margin-left: 40px;"><b>14.3.</b>   The arbitration shall be commenced and conducted under the Commercial Arbitration Rules of the American Arbitration Association ("AAA") and, where appropriate, the AAA’s Supplementary Procedures for Consumer Related Disputes ("AAA Consumer Rules"), both of which are available at the AAA website www.adr.org. </p>
<p style="margin-left: 40px;"><b>14.4.</b>   Your arbitration fees and your share of arbitrator compensation shall be governed by the AAA Consumer Rules and, where appropriate, limited by the AAA Consumer Rules.</p>
<p style="margin-left: 40px;"><b>14.5.</b>   The arbitration may be conducted in person, through the submission of documents, by phone, or online. The arbitrator will make a decision in writing but need not provide a statement of reasons unless requested by either Party.</p> 
<p style="margin-left: 40px;"><b>14.6.</b>   The arbitrator must follow applicable law, and any award may be challenged if the arbitrator fails to do so. Except where otherwise required by the applicable AAA rules or applicable law.</p>

<br>
<h5><b>15. Class Action Waiver</b></h5>
<p style="margin-left: 40px;"><b>15.1.</b>   The parties agree that</p>
<p style="margin-left: 80px;"><b>15.1.1.</b> no arbitration proceeding hereunder whether a consumer dispute or a business dispute shall be certified as a class action or proceed as a class action, or on a basis involving claims brought in a purported representative capacity on behalf of the general public, other customers or potential customers or persons similarly situated, and</p>
<p style="margin-left: 80px;"><b>15.1.2.</b> no arbitration proceeding hereunder shall be consolidated with, or joined in any way with, any other arbitration proceeding. </p>
<p style="margin-left: 40px;"><b>15.2.</b>   The parties agree to arbitrate a consumer dispute or business dispute on an individual basis, and each waives the right to participate in a class action.</p>

<br>
<h5><b>16. Waiver of Jury Trial</b></h5>
<p style="margin-left: 40px;">Each of the parties hereto hereby irrevocably waives any and all right to trial by jury in any legal proceeding arising out of or related to this agreement or the transactions contemplated hereby.</p>

<br>
<h5><b>17. Other Important Terms</b></h5>
<p style="margin-left: 40px;"><b>17.1.</b>   We may transfer our rights and obligations under these Terms to another organization, but this will not affect your rights or obligations under these Terms. </p>
<p style="margin-left: 40px;"><b>17.2.</b>   You may only transfer your rights or your obligations under these Terms to another person if we agree in writing.</p>
<p style="margin-left: 40px;"><b>17.3.</b>   No joint venture, partnership or agency or employment relationship has arisen by reason of these Terms.</p>
<p style="margin-left: 40px;"><b>17.4.</b>   These Terms and any document expressly referred to in it constitutes the entire agreement between us regarding their subject matter, and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations, and understandings between us, whether written or oral, relating to that subject matter. You agree that you shall have no remedies in respect of any statement, representation, assurance, or warranty (whether made innocently or negligently) that is not set out in these Terms, or any document expressly referred to in it. You agree that you shall have no claim for innocent or negligent misrepresentation or negligent misstatement based on any statement in these Terms or any document expressly referred to in it.</p>
<p style="margin-left: 40px;"><b>17.5.</b>   If we fail to insist that you perform any of your obligations under these Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you. </p>
<p style="margin-left: 40px;"><b>17.6.</b>   Each of the conditions of these Terms operates separately. If any court or competent authority decides that any of them are unlawful or unenforceable, the remaining conditions will remain in full force and effect. </p>
<p style="margin-left: 40px;"><b>17.7.</b>   These Terms, its subject matter and its formation, and any other disputes or claims in connection therewith, are governed by the law of Tennessee, United States. In the event of any such disputes or claims in connection with these Terms, you agree to first engage in good faith discussions with us to resolve such dispute or claim. If such dispute or claim is not resolved within sixty (60) days, we both irrevocably submit to the exclusive jurisdiction of the courts of Chattanooga. </p>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
